<!DOCTYPE html>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-analytics.js"></script>

<script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
        apiKey: "AIzaSyBlEyAJb6dTHnN8kDbdBhGslrunIaX0z2Q",
        authDomain: "servicetool-81486.firebaseapp.com",
        projectId: "servicetool-81486",
        storageBucket: "servicetool-81486.appspot.com",
        messagingSenderId: "224850955648",
        appId: "1:224850955648:web:56925cbf41c4d0c48d0565",
        measurementId: "G-QM51LB6RPJ"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
</script>
<script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-storage.js"></script>
<script>var phase = true;
</script>


<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Content/Logo-icon-blue-png.png" />
    <title>@ViewBag.Title - HeatTransformers Service-tool</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-xxl navbar-dark bg-primary" id="navbar">
        <div class="container" id="navbarText">
                
            <a href="@Url.Action("Index", "Home", null)">
                <img style="width:200px; height:auto; padding-top: 13px;" src="~/Content/Logo-full-white-png(1).png" />
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarTogglerDemo02">
                <ul class="nav navbar-nav mr-auto">
                    <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Algemeen", "Dashboard", "Home", new { id = "Algemeen" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Afspraken", "Dashboard", "Home", new { id = "Afspraken" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Financieel", "Dashboard", "Home", new { id = "Financieel" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Technisch", "Index", "Storing", null, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Overig", "Dashboard", "Home", new { id = "Overig" }, new { @class = "nav-link" })</li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Account
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li> <a>@Html.ActionLink("Vragenoverzicht", "Overzicht", "Home", null, new { @class = "dropdown-item"})</a></li>
                            <li> <a>@Html.ActionLink("Storingstool aanpassen", "StoringtoolToevoegen", "Storing", null, new { @class = "dropdown-item" })</a></li>
                            @*<li> <a>@Html.ActionLink("Vraag toevoegen", "VraagToevoegen", "Home", null, new { @class = "dropdown-item" })</a></li>*@
                        </ul>
                    </li>
                    <li style="padding-top: 0px;"><label id="viewTekst" style="font-size: 20px; font-family: Montserrat; font-weight: bold;"></label><br /><button class="btn btn-light" id="stateChange" onclick="changePhase()">Verander view</button></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="color: white;">&copy; @DateTime.Now.Year - HeatTransformers</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
