
@{
    ViewBag.Title = "Keuzepagina";
    var variabelen = "";
}
@model List<Servicetool2.Models.Product>
<div class="container">
    <br />
    <div class="row">

        <div class="col-6">
            <h1>Basisvragen storingstool</h1>

        </div>

    </div>
    @*<form action="/Storing/StoringtoolExtraVragen">*@

        <br />

        <div class="row">
            <div class="col-4">
                <h3>Welke warmtepomp heeft u</h3>
                <select class="form-select" aria-label="Default select example" id="technischWarmtepompen" name="technischWarmtepompen">
                    <option selected>Kies een warmtepomp</option>
                    @foreach (var product in Model)
                    {
                        if (product.Type == "Heattransformers")
                        {
                            <option id="@product.MerkEnType" value="@product.MerkEnType">@product.MerkEnType</option>
                        }
                    }
                    <option id="Techneco Elga 4,9 kW hybride warmtepomp">Techneco Elga 4,9 kW hybride warmtepomp</option>
                </select>
                <br />
                <label>Anders:</label><br />
                <input type="text" class="form-control" id="inputWarmtepomp"/>
            </div>

            <div class="col-4">
                <h3>Welke ketel heeft u</h3>
                <select class="form-select" aria-label="Default select example" id="technischKetels" name="technischKetels">
                    <option selected>Kies een ketel</option>
                    @foreach (var product in Model)
                    {
                        if (product.Type == "Ketel")
                        {
                            <option id="@product.MerkEnType" value="@product.MerkEnType">@product.MerkEnType</option>
                        }
                    }
                </select>
                <br />
                <label>Anders:</label><br />
                <input type="text" class="form-control" id="inputKetel"/>
            </div>

            <div class="col-4">
                <h3>Welke thermostaat heeft u</h3>
                <select class="form-select" aria-label="Default select example" id="technischThermostaten" name="technischThermostaat">
                    <option selected>Kies een thermostaat</option>
                    @foreach (var product in Model)
                    {
                        if (product.Type == "Thermostaat")
                        {
                            <option id="@product.MerkEnType" value="@product.MerkEnType">@product.MerkEnType</option>
                        }
                    }
                </select>
                <br />
                <label>Anders:</label><br />
                <input type="text" class="form-control" id="inputThermostaat"/>
            </div>
        </div>
        <br />
        <div class="row">
            <h3>Wat is uw probleem</h3>

            <div class="col-12 d-grid gap-2">
                <div class="btn-group-vertical" role="group" aria-label="Basic radio toggle button group" id="probleemLijst">
                </div>
            </div>
            <br />
        </div>
        <br />

            <div class="row">
                <div class="col-5"></div>
                <div class="col-2">
                    @Html.ActionLink("Volgende", "StoringtoolExtraVragen", "Storing", null, new { @class = "btn btn-primary btn-block", onclick = "storingSave()" })
                </div>
                <div class="col-4"></div>
            </div>
    @*</form>*@
</div>

    <script src="~/Scripts/technischProbleemKeuzeScript.js"></script>

